<html>
    <head>
        <title>{{ title }}</title>
        <style type="text/css">
        @page {
            size; A4;
            
        }
        body {
            font-family: Arial, Helvertica, sans;
            font-size: 1em;
        }

        h1 {
            font-size: 1.2em;
        }
        table {
            border: 1px solid #036;
            border-spacing: 0;
            border-collapse: collapse;
            page-break-after: always;
        }
        table::after {
            page-break: 
        }
        th {
            width: 2cm;
            height: 1cm;
            border: 1px solid #036;
        }
        
        td {
            width: 2cm;
            height: 2cm;
            border: 1px solid #036;
        }

        </style>
    </head>
    <body>
        <header>
        <h1>{{ title }}</h1>
        </header>
        
        <h2>{{ month }} / {{ year }}</h2>
        <main>
            {% block main %}
                <img src="{{ image }}" />
                <table class="calendar" id="id_{{ '{0:04d}'.format(year) }}_{{ '{0:02d}'.format(month) }}">
                    <thead>
                    <tr>
                    {% for day in weekdays %}<th>{{ day }}</th>{% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for week in calendar %}<tr>
                            {% for day in week %}<td>{{ day }}</rd>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfooter></tfooter>
                </table>
            
            {% endblock main %}
        </main>
        <footer>
            {% block footer %}{% endblock footer %}
        </footer>
    </body>
</html>